.dashboard-style {
    height: 100%;
    align-items: center;
}

.dashboard-card {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  
    /* grid-gap: 1.5%; */

    /* grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; */
    /* grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;    */
}

.dashboard {
    border-radius: 5px;
    font-size: 100%;
    padding: 2rem 5rem 2rem 5rem;
}

.dashboard-card img{
    /* width: 200px; */
    height: 200px;
}

.article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .details{
    height: 50%;
    width: 100%;
}

.dashboard-card .details {
    background-color: #fff;
    padding: 20px;
    margin-top: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */

.btn-grp{
    width: 11rem;
    display: flex;
    justify-content: space-between;
}
