.dashboard-style {
  height: 100%;
  align-items: center;
}

.dashboard-card {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.dashboard {
  border-radius: 5px;
  font-size: 100%;
  padding: 2rem 5rem 2rem 5rem;
}

.dashboard-card img {
  height: 200px;
}

.article {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-grp {
  width: 11rem;
  display: flex;
  justify-content: space-between;
}
