#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(76, 55, 15);
    padding: 2.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon{
    margin-right: 10px;
}

